<!DOCTYPE html>
<html>
<head>
  <title>Portal de Carreras</title>
  <style>
    
    h1 {
      font-size: 40px;
      font-family: Roboto;
      font-weight: normal;
      text-align:center;
    }
    
    #banner {
      width:100%;
      height:300px;
    }

     #info1 {
      font-size: 20px;
      font-family: Roboto;
      font-weight: normal;
      text-align: left;
    }
    
  </style>
</head> 
<body>
  <h1>Bienvenido a tu portal de carreras</h1>
  <img id="banner" src='https://website-carreras.mauricioangeles.repl.co/static/pocket-watch-1637396__340.jpg' height=200px>
  <h2>Los empleos en Latinoamerica </h2>
    <p id="info1">
    Los latinoamericanos cobramos menos que prácticamente todo el mundo y eso es un hecho. Pero esto no significa que no se pueda recibir un salario más alto.

La profesión adecuada para latinoamerica debería proporcionar varios beneficios. Los beneficios incluyen un salario más alto, equidad en el lugar de trabajo, satisfacción laboral y oportunidades de progreso.

Todo el mundo merece un empleo, incluso en LATAM. Si bien es crucial para la integración social, el empleo les da la sensación de respeto y autoestima. Sobre todo, ofrece una forma de ser económicamente estables y de satisfacer todas las necesidades diarias.

A continuación, le ofrecemos una lista de las carreras mejor pagadas en Latam que han cobrado gran importancia entre los estudiantes latinoamericanos.
      </p>
</body>  
</html>